.left-content{
    width:'46vw';
    border: 1px solid #0066A5;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .header-content{
      height: 38px;
      display: flex;
      align-items: center;
      padding: 3px 10px;
      background-color: #0066A5;
      font-size: 16px;
      color: #fff;
  }
  .footer-card{
      height: 32px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      font-size: 16px;
  }
  
  .pCardVideo{
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      font-size: 16px;
      color: #333333;
  }
  
  .CardVideo{
      padding: 5px;
  }

  .main-content{
      padding: 5px;
      width: 45vw;
  }

  .main-content1{
      display: flex;
      flex-direction: row;
  }

  .body-content-row{
    margin: 0 0 10px 0;
  }

  .firstContent{
      max-width: 33vw;
      margin-left: 10px;
      color: #0066a5;
      font-weight: bold;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      box-sizing: border-box;
  }

  .updateTitle{
    background-color: #fcfcfc;
    border: solid 1px #f4f4f4;
    border-radius: 8px;
    padding: 0 5px;
    color: #b2b1b1;
    font-size: 11px;
    margin: 5px 0;
    display: inline-block;
    line-height: 18px;
  }

  .updateAt{
    color: #f38032;
    box-sizing: border-box;
    font-size: 11px;
    line-height: 18px;
  }

  .body-content{
    max-width: 43vw;
    margin-left: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    box-sizing: border-box;
    margin: 12px 0 0 0;
    text-decoration: none;
    outline: none;
  }

  .body-content a {
    color: #06427d;
  }
  
  .footer-content{
      padding: 5px 10px 0 5px;
      display: flex;
      justify-content: flex-end;
  }

  @media only screen and (max-width: 991px) {
    .firstContent {
      min-width: 59vw;
    }
    .body-content {
        min-width: 92vw;
    }
  }
