
.container{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.header{
    background-image: url(../../../images/logo.PNG);
    height: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    height: 40px;
    background-color: #336699;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.navbar-smallScreen{
    display: none;
}

.dropdown-menu-item{
    color: #000;
}

.dropdown-menu-item:hover{
    color: #fff;
    background-color: #004F87
}

.datetime{
    margin: 2px 0;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding-left: 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    max-width: 980px;
    margin: 0 auto;
}

.date{
    line-Height: '20px';
    margin-top: 1.16vh;
}

@media only screen and (max-width: 753px) {
    .navbar {
      display: none;
    }
    .navbar-smallScreen{
        display: block;
    }
  }
  